{{=<< >>=}}
{{<<m.infoboxTemplate>>
 | id = <<m.id>>
 | name = <<m.name>>
 | location = <<m.location>>
 | duration = <<m.duration>>
 | type = <<m.category>>
<<#m.faction>>
 | faction = <<m.faction>>
<</m.faction>>
<<#m.characterClass>>
 | class = <<m.characterClass>>
<</m.characterClass>>
 | level = <<m.level>>
<<#m.followerItemLevel>>
 | flevel = <<m.followerItemLevel>>
<</m.followerItemLevel>>
<<#m.rare>>
 | rare = yes
<</m.rare>>
<<#m.groupSize>>
 | groupsize = <<m.groupSize>>
<</m.groupSize>>
}}

==Description==
<<#m.description>>
<<this>>
<</m.description>>
<<^m.description>>
...
<</m.description>>

<<#m.patchAdded>>

==Patch changes==
* {{Patch <<m.patchAdded>>|note=Added.}}
<</m.patchAdded>>

==External links==
{{subst:el}}
{{Elinks-mission|<<m.id>>}}
