{{=<< >>=}}
{{<<m.infoboxTemplate>>
 | id = <<m.id>>
 | name = <<m.name>>
 | location = <<m.location>>
 | duration = <<m.duration>>
 | type = <<m.category>>
 | enemies = <<#m.enemies>><<name>><<^-last>><br /><</-last>><</m.enemies>>
<<#m.faction>>
 | faction = <<m.faction>>
<</m.faction>>
<<#m.characterClass>>
 | class = <<m.characterClass>>
<</m.characterClass>>
 | level = <<m.level>>
<<#m.followerItemLevel>>
 | flevel = <<m.followerItemLevel>>
<</m.followerItemLevel>>
<<#m.rare>>
 | rare = yes
<</m.rare>>
<<#m.groupSize>>
 | groupsize = <<m.groupSize>>
<</m.groupSize>>
}}

==Description==
<<#m.description>>
<<this>>
<</m.description>>
<<^m.description>>
...
<</m.description>>

==Counters==
* Type: {{Garrison ability|<<m.type>>}}
<<#m.enemies>>
* <<name>>:<<#counters>> {{Garrison ability|<<this>>}}<</counters>>
<</m.enemies>>

<<#m.patchAdded>>
==Patch changes==
* {{Patch <<m.patchAdded>>|note=Added.}}

<</m.patchAdded>>
==External links==
{{subst:el}}
{{Elinks-mission|<<m.id>>}}
