{{=<< >>=}}
<<#q.removed>>
{{Removed|patch=}}
<</q.removed>>
<<^q.removed>>
{{Stub/Quest}}
<</q.removed>>
{{Questbox
<<#q.removed>>
 | doc =
<</q.removed>>
 | id = <<q.id>>
 | name = <<q.name>>
 | category = <<q.category>>
<<#q.faction>>
 | faction = <<q.faction>>
<</q.faction>>
<<#q.race>>
 | race = <<q.race>>
<</q.race>>
<<#q.characterClass>>
 | class = <<q.characterClass>>
<</q.characterClass>>
 | level = <<q.level>>
<<#q.levelRequired>>
 | levelreq = <<q.levelRequired>>
<</q.levelRequired>>
<<#q.type>>
 | type = <<q.type>>
<</q.type>>
<<#q.groupSize>>
 | groupsize = <<q.groupSize>>
<</q.groupSize>>
<<#q.startEntity>>
 | start = [[<<q.startEntity>>]]
<</q.startEntity>>
<<^q.startEntity>>
 | start = Automatic
<</q.startEntity>>
<<#q.finishEntity>>
 | end = [[<<q.finishEntity>>]]
<</q.finishEntity>>
<<^q.finishEntity>>
 | end = Automatic
<</q.finishEntity>>
<<^q.reputationGains.isEmpty>>
 | reputation = <<#q.reputationGains>><<this>><<^-last>><br /><</-last>><</q.reputationGains>>
<</q.reputationGains.isEmpty>>
<<#q.hasExperience>>
 | experience = <<q.experienceStr>>
<</q.hasExperience>>
<<#q.hasNonMoneyRewards>>
 | rewards =
<<#q.choiceRewards>>
<<^-first>>or <</-first>><<#quantity>><<this>>x <</quantity>>[[<<name>>]]<<^-last>><br /><</-last>>
<</q.choiceRewards>>
<<#q.allNonChoiceRewards>>
<<#-first>><<^q.choiceRewards.isEmpty>><br /><br /><</q.choiceRewards.isEmpty>><</-first>><<#quantity>><<this>>x <</quantity>>[[<<name>>]]<<^-last>><br /><</-last>>
<</q.allNonChoiceRewards>>
<</q.hasNonMoneyRewards>>
<<#q.hasMoney>>
 | money = {{cost|<<q.gold>>|<<q.silver>>|<<q.copper>>}}
<</q.hasMoney>>
<<#q.isRepeatable>>
 | repeatable = Yes
<</q.isRepeatable>>
<<^q.isShareable>>
 | shareable = No
<</q.isShareable>>
 | previous = <<#q.previousQuests>>[[Quest:<<this>>]]<<^-last>>, <</-last>><</q.previousQuests>>
 | next = <<#q.nextQuests>>[[Quest:<<this>>]]<<^-last>>, <</-last>><</q.nextQuests>>
 <<^q.isNeutral>>
 | other-faction =
 <</q.isNeutral>> 
}}

==Objectives==
<<#q.objectives>>
<<this>>
<</q.objectives>>
<<^q.objectives>>
...
<</q.objectives>>
<<#q.stages>>
* <<this>>
<</q.stages>>
<<#q.providedItems>>
* [[<<this>>]] (provided)
<</q.providedItems>>
<<#q.groupSize>>
* Suggested players: <<this>>
<</q.groupSize>>

==Description==
<<#q.description>>
<<this>>
<</q.description>>
<<^q.description>>
...
<</q.description>>

<<#q.hasRewards>>
==Rewards==
<<^q.choiceRewards.isEmpty>>
{{itembox|You will be able to choose one of these rewards:
<<#q.choiceRewards>>
|q<<-index>>=<<quantity>>|<<name>>
<</q.choiceRewards>>
}}

<</q.choiceRewards.isEmpty>>
<<^q.nonChoiceRewards.isEmpty>>
{{itembox|You will <<^q.choiceRewards.isEmpty>>also <</q.choiceRewards.isEmpty>>receive:
<<#q.nonChoiceRewards>>
|q<<-index>>=<<quantity>>|<<name>>
<</q.nonChoiceRewards>>
}}

<</q.nonChoiceRewards.isEmpty>>
<<#q.abilityRewards>>
You will <<#q.hasItemRewards>>also <</q.hasItemRewards>>learn: [[<<this>>]]

<</q.abilityRewards>>
<<#q.buffRewards>>
The following spell will be cast on you: [[<<this>>]]

<</q.buffRewards>>
<<#q.hasMoney>>
You will <<#q.hasNonMoneyRewards>>also <</q.hasNonMoneyRewards>>receive: {{cost|<<q.gold>>|<<q.silver>>|<<q.copper>>}}

<</q.hasMoney>>
<</q.hasRewards>>
<<#q.progress>>
==Progress==
<<q.progress>>

<</q.progress>>
<<#q.completion>>
==Completion==
<<q.completion>>
<</q.completion>>

<<#q.hasGains>>
==Gains==
<<#q.hasExperience>>
* <<q.experienceStr>> [[XP]]
<</q.hasExperience>>
<<#q.reputationGains>>
* <<fullText>>
<</q.reputationGains>>
<</q.hasGains>>
<<#q.otherGains>>
* <<this>>
<</q.otherGains>>

==Progression==
...
<<#q.patchAdded>>

==Patch changes==
* {{Patch <<q.patchAdded>>|note=Added.}}
<</q.patchAdded>>

==External links==
{{subst:el}}
{{Elinks-quest|<<q.id>>}}
