html, body {
	height: 100%;
	overflow: hidden;
}

body {
	margin: 10px;
	background: #eee;
	text-align: center;
}

#content {
	box-sizing: border-box;
	width: 100%;
	height: calc(100% - 56px);
	margin-bottom: 6px;
}

#copy {
	height: 30px;
	margin-top: 0;
}
